*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
   border: 10px solid #1d1e4c; 
   background-color: lavender;
   min-height:100vh;
}
.content{
      max-width: 900px;
      margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between; 
    align-items:flex-end ;  
}
.top_section h1{
  font-size: 50px;
  font-weight: bold;
  color: #1d1e4c;
  text-transform: uppercase;
}
.top_section h4{
    font-size: 30px;
   text-align: end;
}

.image_container{
    border-radius:50% ;
    overflow: hidden;
    
}
.image_container,img{
    width: 300px;
    height: 320px;   
}
.about_section{
    margin-top:50px ;
}
.about_section h2{
  font-size: 70px; 
  font-weight: 400; 
  margin-bottom:20px;
}
.about_section p{
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height:30px ;
  letter-spacing:1.2px ;
  text-align: justify;
}
.biography_section{
  margin: 50px 0;
  font-family: 'Courier New', Courier, monospace;
}
.biography_section h3{
   margin-bottom: 20px; 
}
.biography_section ul{
  margin-left: 50px;
}
.biography_section li{
margin-bottom: 15px;  
}
footer{
    margin:50px 0 ;
    
}
footer p{
   text-align:end; 
}

/*For Small Devices */
@media screen and (max-width:320px){
.about_section p {
    font-size:30px ;
}
.image_container{
        border-radius:50% ;
        overflow: hidden;
        
    }
.image_container,img{
        width: 100px;
        height: 120px; 
} }